include MANIFEST.in
include LICENSE
include README.rst
include CHANGELOG.rst
include setup.py
include setup.cfg
include requirements-dev.txt
include tox.ini
include doc/*

recursive-include xmlschema *
recursive-include tests *

global-exclude *.py[cod]
