include MANIFEST.in
include LICENSE
include README.rst
include CHANGELOG.rst
include requirements-dev.txt
include tox.ini
include doc/*

recursive-include xmlschema *
recursive-include scripts *
recursive-include tests *
recursive-exclude tests/.mypy_cache *

exclude xmlschema/locale/xmlschema.pot
global-exclude *.py[cod]
