# Requirements for setup a development environment for the xmlschema package.
setuptools
tox
coverage
elementpath~=1.3.0
lxml
memory_profiler
matplotlib
pathlib2  # For Py27 tests on resources
Sphinx
sphinx_rtd_theme
-e .
